.App {
  text-align: center;
  background-color:#2d545e;
}

.App .D {
padding: 20px;
margin-top: 25px;
color:rgb(25, 25, 27);
background-color: 	#81b1ce;
display: flex;
font-family:'Source Sans Pro';


}
.Navbar {
  
  background-color:#eaf0f2;
  bottom: 0;
  left: 0;
   right: 0;
    z-index: 5;
     position: fixed;


}

.Navbar a{ 
  margin-left: 90px;
  text-decoration: none  ;
  color:	#2d1403;
  font-family:'Bülent Yüksel';
  font-size: 30px;   
}

.Navbar a:hover {
  color:#81b1ce;
  
}

.Lighting h1{
  margin-top: 100px;
  margin-right: 1375px ;
  font-size: 30px;
  font-family: 'Georgia';
  color:cornsilk;
}

.Lighting a button{
  align-items: center;
  margin-right: 900px;
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:70px; 
  min-width: 220px;
}

.Lighting a button:hover {
  background-color:cornflowerblue;
  transition: 0.5s;
}

.App-header {
  background-color: #1aea7b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(240, 21, 21);
}

.App-link {
  color: #61dafb;
}


